.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;

  border-radius: 5px;

  cursor: pointer;
  appearance: none;
  transition: 0.3s ease-out;

  &__icon {
    margin-left: 10px;
  }

  &__text {
    line-height: 1;
  }

  &:hover,
  &:active {
    color: $button-primary;

    background-color: $brand-white;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba($button-primary, 0.5);
  }

  &:disabled {
    color: $button-disabled;

    background-color: rgba($button-disabled, 0.5);
    border: 1px solid rgba($button-disabled, 0.5);

    cursor: not-allowed;
  }
}

.btn--primary {
  color: $brand-white;

  border: 1px solid $button-primary;
  background-color: $button-primary;
}
