.card {
  position: relative;

  max-width: 240px;
  padding: 40px 20px 40px;
  margin: 10px;

  font-family: "Montserrat", sans-serif;

  background-color: $brand-white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.card__img {
  width: 240px;
  height: auto;
  margin-bottom: 20px;

  img {
    max-width: 100%;
    height: auto;
  }
}

.card__title {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.card__price {
  margin: 0;

  font-size: 14px;
  font-weight: 400;
}

.card__btn {
  position: absolute;
  bottom: -20px;
  left: 50%;

  transform: translateX(-50%);
}
