.index-page__section {
  padding: 20px 0;
}

@include tablet-size {

  .index-page__section {
    padding: 35px 0;
  }
}

@include desktop-size {

  .index-page__section {
    padding: 60px 0;
  }
};
