.market-section__container {
  position: relative;
}

.market-section__swiper-nav-buttons {
  top: 57px;
  left: 240px;
}

.market-section__products.swiper {
  padding-bottom: 11px;
}

@include desktop-size {

  .market-section__swiper-nav-buttons {
    top: 62px;
    left: 290px;
  }
}
